:root {
	--diameter: 4rem;
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-color: #fff;
	color: #000;
}

.keys, .notes {
	width: calc(5 * var(--diameter));
}

.keys {
	display: flex;
	justify-content: space-around;
}

.inActive, .active, .note {
	width: var(--diameter);
	height: var(--diameter);
	border: 1px solid #000;
	border-radius: 50%;
}

.inActive{
	background-color: #fef0;
}

.active {
	background-color: #00f8;
}

.left, .right {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: calc(5 * var(--diameter));
}

.notes {
	position: relative;
	height: 85vh;
	background-color: #fdf;
	overflow: hidden;
}

.note {
	position: absolute;
	background-color: #f00;
	top: calc(-1.5 * var(--diameter));
}

.hitZone {
	position: absolute;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fef;
	height: 8rem;
}
