:root {
	--diameter: 100px;
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-color: #fff;
	color: #000;
}

.keys, .notes {
	width: calc(4 * var(--diameter));
}

.keys {
	display: flex;
	justify-content: space-around;
}

.inActive, .active, .note {
	width: var(--diameter);
	height: var(--diameter);
	background-size: cover;
	background-position: center;
}

.left, .right {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: calc(5 * var(--diameter));
}

.notes {
	position: relative;
	height: 90vh;
	background-color: #fdf;
	overflow: hidden;
}

.note {
	position: absolute;
	top: calc(-1.5 * var(--diameter));
}

.hitZone {
	position: absolute;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fef;
	height: 10rem;
}

.stats {
	position: absolute;
	left: 25vw;
	width: 15rem;
	height: 30rem;
	background-color: #f0f;
}
